body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FF7E5F, #feb47b);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.countdown-container {
    text-align: center;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
}
